@font-face{
font-family: 'BuxtonSketch';
src: url('assets/fonts/BuxtonSketch.ttf') format('truetype');
}
@font-face{
font-family: 'ArialBold';
src: url('assets/fonts/ARLRDBD.TTF') format('truetype');
}

body{
	font-family: BuxtonSketch, Rockwell, Serif;
	font-weight: Bold;
	font-size: large;  
	background-color:#ECE9E9;
	background-size:16px 16px;
}